<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClearTripTest_example">
<parameter name="appURL" value="https://www.cleartrip.com/"/>
<parameter name="browserType" value="firefox"/>
  <test name="sample test">
    <classes>
<!--       <class name="com.pack.common.tests.HomePageTest"/> -->
      <class name="D:\\Tasks\\GoJek_Task\\clearTrpapp\\src\\test\\java\\Scenario_component\\SignInPageTest.java"/>
      <class name="D:\\Tasks\\GoJek_Task\\clearTrpapp\\src\test\java\\Scenario_component\\CreateAccountTest.java"/>
    </classes>
  </test>
</suite>
